@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');

:root {
    --oscuro: #eadbca;
    --clarito: #fff3e7;
    --negros: rgb(106, 95, 85);

}

* {
    font-family: sans-serif;
}




h1 {
    color: var(--negros);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    
   
    /*transform: rotate(-90deg);*/
    
    /* text-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 100px rgb(255, 255, 255), 0px 0px 200px rgb(255, 255, 255); */
}

h1:hover{
    letter-spacing: 10px;
    font-size: 30px;
    transition: 1s;
}

body {
    margin: 0 auto;
    text-align: center;
    background: var(--clarito);
    max-width: 100%;
    max-height: 100%;
    align-items: center !important;
}

.empesemo{
    font-size: 80px;
    color: var(--negros);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

#puntuacioon{
    position:absolute;
    font-size: 50px;
    color: var(--negros);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: var(--clarito);
    width: 60px;
    border-radius: 50px;
    
    
}

#todisimo {
    width: 50%;
    background-color: var(--oscuro);
    max-width: 80%;
    margin: 0% auto;
    padding: 2% 5%;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.3);
}

img {
    max-width: 400px;
    border-radius: 40px;
    margin-bottom: 2%;
}

li {
    list-style: none;
    margin: 6px auto;
    background: var(--clarito);
    padding: 2%;
    max-width: 50%;
    border-radius: 50px;
    font-family: 'Creepster';
    font-size: 30px;
    transition: .5s;
    color: rgb(121, 40, 44);
    font-family: 'League Gothic', sans-serif;
}

li:hover {
    cursor: pointer;
    letter-spacing: 5px;
}

#calificacion0 p, #calificacion1 p, #calificacion2 p, #calificacion3 p, #calificacion4 p, #calificacion5 p, #calificacion6 p, #calificacion7 p, #calificacion8 p, #calificacion9 p, #calificacionfinal p{
    max-width: 400px;
    /*background: rgb(92, 218, 117);*/
    background-size: cover;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: var(--clarito);
    text-shadow: 0 0 10px rgba(0,0,0,.9);
}

button{
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    font-size: 30px;
    color: var(--negros);
    background: var(--clarito);
    border: none;
    
    padding:20px;
    border-radius: 50px;
    box-shadow: 1px 1px 0 var(--negros), 2px 2px 0 var(--negros), 3px 3px 0 var(--negros), 4px 4px 0 var(--negros), 5px 5px 0 var(--negros), 6px 6px 0 var(--negros);
    transition: .3s;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 2.5%;
    justify-content: center;
    align-items: center;
}

button:hover{
    box-shadow: -1px 1px 0 var(--negros), -2px 2px 0 var(--negros), -3px 3px 0 var(--negros), -4px 4px 0 var(--negros), -5px 5px 0 var(--negros), -6px 6px 0 var(--negros);
    cursor: pointer;
}

button:active{
    box-shadow: none;
}

footer p{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--oscuro);
    transition: .5s;
}

/*
footer p:hover{
    font-size: 50px;
    letter-spacing: 200px;
}

/* *{
    outline: 1px solid red;
} */