@import url('http://fonts.cdnfonts.com/css/glacial-indifference-2');

.absolute{
    margin: 0 auto;
    justify-content: center;
}

body {background-image: linear-gradient(rgba(230, 171, 195, 0.646),rgb(131, 89, 114), rgb(37, 37, 37)),
    url("../../media/examples/lizard.png");
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 16px;
    padding: 10px;
    
}

header img{
    height: 140px;
    position: relative;
    border-radius: 50%;
    margin-left: 43%;
    margin-bottom:5px;
    border: solid  white 2px;
}

h1{
    color: rgb(38, 38, 38);
    text-align: center;
    font-size: 24px;
    margin:0 auto;
    margin-top: 10px;
    
}

h2{
    text-align: center;
    color: rgb(80, 79, 79);
    font-style: oblique;
    font-size: 16px;
    margin: 0 auto;
    margin-top:6px;

}

h1, h2{
    
    margin: 0, auto;
    margin-bottom: 0px;
    margin-top:0px;
    padding: 5px;
    
    border-radius:10px;

}


#btnCambiar{
    position:relative;
    justify-content: center;
    display:flex;
    color:rgb(255, 255, 255);
    text-align: center;
    padding-top: 5px;
    width: 160px;
    height: 30px;
    font-size: 14px;
    font-family: sans-serif;
    background-color: rgba(116, 49, 96, 0.575);
    border-radius: 10px;
    border:solid rgb(43, 41, 41) 1px;
    margin-top:10px;
    margin-left: 610px;
}

#btnCambiar:hover{
    background-color: rgba(0, 0, 0, 0.37);
    color:rgb(255, 255, 255);
    transition: all 0.5s ease;
    
}

img{ 
    max-width: 100%;
    width: 140px;
    height: 100px;
    margin-top: 4px;
    margin-left: 2px;
    border-radius: 0px;
    position: absolute;
}

ul{
    margin: 0 auto;
    justify-content: center;
    
}
.list{
    justify-content: center;
    align-items: center;
}
li{
    justify-content: center;
    box-sizing: border-box;
    list-style: none;
   
    border-radius: 0px;
    
    background-color: rgba(7, 0, 8, 0.699);
    padding: 10px;
    width: 900px;
    height: 130px;
    transition: background-color .5s;
    max-width: 100%;
    margin-top: 20px;
}

li:hover{
    background-color: rgba(255, 255, 255, 0.493);
    }

.text{
    margin-left: 170px;
    color:rgb(255, 255, 255);
}
.text p{
    margin-top: 0px;
    font-size: 14px;
}
.list{
    
    justify-content: center;
    width: 600px;
    max-width: 100%;
    margin-right: 190px;


}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    margin-right: 40px;

}
.grid .trabajos{
    width: 250px;
    height: 300px;
    font-size:12px;
}

.grid img{
    width: 220px;
    height: 180px;
    object-fit: cover;
    margin: 0 auto;
    margin-top: 3px;
    position: relative;
}

.grid .text{
    margin: 0 auto;
    justify-content:center;
}

footer{
    margin-top:30px;
    text-align: center;
    font-size: 10px;
    color:white;
}

a{text-decoration: none;}